.navbar {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid slategray;
}

/* Left navbar */
.left {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 2rem;
}
.left li img {
	margin-left: 1rem;
}

/* Middle navbar */
.middle {
}
.middle li {
	display: inline-block;
	margin: 1rem;
}
.middle li a {
	font-size: 1 rem;
	color: slategray;
	font-weight: 600;
}
.middle li:nth-child(4) a {
	padding-right: 7px;
}
.middle li:first-child a {
	color: #3b82f6;
}
.middle li:last-child strong {
	display: inline-block;
	color: white;
	background: linear-gradient(45deg, #3f5efb, #fc466b);
	border-radius: 25px;
	padding: 1px 3px;
	margin-left: 4px;
	text-align: center;
}
/* Right navbar */
.right {
	padding: 0 1.75rem;
}
.right li {
	display: inline-block;
	margin: 0.5rem 0.75rem;
}
.right li i {
	/* up-down right-left shorthand property */
	font-size: 21px;
}

.write {
	background-color: #3b82f6;
	border-radius: 25px;
	padding: 10px 20px;
	color: white;
	text-align: center;
}
.write i {
	color: white;
	margin-right: 7px;
}
.write em {
	display: inline-block;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 17px;
	text-align: center;
}
.user img {
	background-color: slategray;
	border-radius: 75%;
	height: 32px;
	width: 32px;
	object-fit: cover;
}
.user {
	text-align: center;
	border-radius: 50%;
	background-color: slategray;
}
