* {
	box-sizing: border-box;
	margin: 0;
	border: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
}

a {
	text-decoration: none;
}

li {
	list-style-type: none;
}

.hidden {
	visibility: hidden;
}
