html {
	box-sizing: border-box;
}
gh *,
*:before,
*:after {
	box-sizing: inherit;
}
body {
	font-family: "Open Sans", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Kavivanar", cursive;
	font-weight: normal;
}
h2 {
	font-size: 2rem;
	color: #a51f10;
	margin: 0;
}
a {
	color: #da0090;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
.posted {
	font-size: 0.8rem;
	color: #89a611;
}
footer {
	text-align: center;
	font-size: 0.8rem;
}

/* MY CODE */

/* Header */
header {
	display: flex;
	justify-content: center;
	align-items: center;
}
nav {
	display: flex;
	justify-content: center;
	align-items: center;
}
nav ul {
	list-style-type: none;
	border-top: 1px solid hotpink;
	border-bottom: 1px solid chocolate;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-basis: 100%;
}
nav a {
	display: block;
	padding: 1rem;
	color: black;
	text-decoration: none;
	text-align: center;
}
nav a:hover {
	background-color: black;
	color: hotpink;
	text-decoration: none;
}

/* Main */
section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	border-bottom: 1px solid chocolate;
	margin-bottom: 0.7rem;
	margin-top: 1rem;
}
article {
	display: flex;
}
/* Footer */
footer {
	text-align: center;
	font-size: 0.8rem;
	border-top: 1px solid hotpink;
}
footer ul {
	display: flex;
	align-items: center;
	justify-content: center;
	list-style-type: none;
	padding: 0;
	margin: 0;
}
footer li {
	margin: 0.1rem;
}
/* Classes */

.wrapper {
	width: 80%;
	margin: 0 auto;
}
/* Header */
.rightheader {
	margin: 0.75rem;
}
.rightheader h1 {
	color: hotpink;
	font-size: 3rem;
	margin: 0;
}
.rightheader p {
	margin-top: -0.5rem;
	font-size: 0.75 rem;
}

/* Main */
.image img {
	border-radius: 1rem;
}
