.section-1 {
	background-image: url("../../images/background-image.png");
	background-size: auto;
	background-position: 80%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	scroll-behavior: none;
	height: 100vh;
	margin: 0 -5vw;
	color: white;
}

.section-1 article {
	position: absolute;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: flex-start;
	inset: 50% 5% auto;
	padding: 16px;
	color: white;
	backdrop-filter: blur(8px);
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 10px;
}

.section-1 article h1 {
	font-size: 1.5rem;
	font-weight: 600;
	line-height: 2rem;
}
.section-1 p {
	font-family: "Jakarta", sans-serif;
	font-size: 1rem;
	line-height: 1.4rem;
	margin: 1rem 0;
}
