/* section-2 class and subsection-2 
class(for grid layout) can be reused 
for this section as well*/

.happening {
	display: inline-block;
	margin-bottom: 1rem;
	font-weight: 600;
	font-size: 1.5rem;
	line-height: 2rem;
	color: #303030;
}
