.navbar i {
	font-size: 1rem;
}

.navbar {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1000;
	background-color: white;
}
.navbar ul {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.navbar li:nth-child(2) {
	border: 1px solid slategray;
	border-radius: 50%;
	padding: 0.5rem;
}

.navbar ul:last-child div {
	display: inline-block;
	border: 1px solid black;
	border-radius: 999px;
	padding: 0.3rem 0.4rem;
	background-color: white;
}
.navbar ul:last-child div i:last-child {
	border: 1px solid black;
	border-radius: 50%;
	padding: 2px 4px;
}
